.clickableMessage {
  float: left;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border-color: orange;
  color: white;
  box-shadow: none;
  margin: 5px;
  margin-left: 0px;
}

.clickableMessage:hover {
  background-color: orange;
  color: black;
}
