.chat-input {
  background-color: #474b52;
  height: 40px;
  width: calc(100vw - 100px);
  bottom: 40px;
  position: absolute;
  border-radius: 10px;
}

.chat-input input {
  width: 95%;
  height: 30px;
  position: absolute;
  left: 5px;
  top: 2.5px;
  background-color: transparent;
  border-color: transparent;
  color: white;
}

@media screen and (max-width: 470px) {
  .chat-input input {
    font-size: 10px;
    height: 20px;
    left: 5px;
    top: 2.5px;
  } 
  .chat-input {
    height: 30px;
  }
}

.chat-input input:focus {
  outline: none;
}
